<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <% include ../views/partials/_header %>
  </header>

    <p><a href="<%= shortURL %>"> <%= shortURL.toString() %></a></p>

    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">ShortURL: <%= shortURL.toString() %></label>
      <input id="longURL" type="text" name="longURL"
        placeholder="<%= longURL %>" action="/urls/<%= shortURL %>/update" style="width: 300px">
      <button type="submit" value="Submit_button" submit button>Update URL</button>
    </form>

</body>
</html>


<!-- action="/urls/<%//= i %>/update"> -->