<!DOCTYPE html>
<html lang="en">
  <body style="font-size:20px; padding:25px 40px 40px 50px;">
    <header>
      <% include ../views/partials/_header %>
    </header>
    <p>Here are your shortened URLS: </p>
    <ol style="padding: 0 0 0 28px;">
      <% for (var i in urls) {%>
        <% if (urls[i].userId === userId) {%>
          <li>
            <div style="display: block; margin: 7px 0 10px 0;">
              <a href="<%= urls[i].link %>"> <%= i %></a>
              <span><%= `. . . .`%></span>
              <a href="/urls/<%= i %>"> View the url </a>
            </div>
            <div style="display: inline-block; padding-bottom: 17px;">
              <form style="float: left;" method="GET" action="/urls/<%= i %>/edit">
                <label for="edit">
                  <button id="edit" type="submit">Edit</button>
                </label>
              </form>
              <form style="padding-left: 45px;" method="POST" action="/urls/<%= i %>/delete">
                <label for="delete">
                  <button id="delete" type="submit">Delete<% delete i %></button>
                </label>
              </form>
            </div>
          </li>
        <% } %>
      <% } %>
    </ol>
    <form action="/urls/new" style="padding: 0 0 0 0">
      <label for="addNew">
        <input if="addNew" type="submit" value="Add a new URL to your list" />
      </label>
    </form>
    <form action="/" style="padding-top: 14px;">
      <label for="backToFull">
        <input id="backToFull" type="submit" value="Back to the full list" />
      </label>
    </form>
  </body>
</html>