<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <% include ../views/partials/_header %>
  </header>

    <p>Current pairing:</p>
    <p><%= shortURL.toString() %> -> <%= longURL %></p>


    <form id="shortURL" action="/urls/<%= shortURL %>/update" method="POST" style="margin:150px;">
      <label for="shortURL">ShortURL: <%= shortURL.toString() %></label>
      <input id="longURL" type="text" name="longURL"
        placeholder="<%= longURL %>" action="/urls/<%= shortURL %>/update" style="width: 300px">
      <button type="submit" value="Submit_button" submit button>Update URL</button>
    </form>
    <script>console.log("does this even work, bro?");</script>

</body>
</html>


<!-- action="/urls/<%//= i %>/update"> -->